.rUlHeader li {
    float: right!important;
}

.rfooter {
    direction: rtl!important;
}

.rUlFooter li {
    float: right!important;
}

.rUlFooter2 {
    padding: 0px!important;
}

.rUlFooter3 {
    padding: 0px!important;
}

rUlFooter3 li {
    float: right!important;
}

.rMarginRightFooter {
    margin-right: 30px; 
}

/* ERROR PAGE */
.rErrorPage {
    direction: rtl;
}

/* FAQ PAGE */
.rFaqPageP {
    text-align: right!important;
}

.rFaqPageSpans {
    float: right!important;
}

.rAFaqPage {
    float: right!important;
    margin-right: 27px;
}
/* SHOPPING CART */
.rUlShoppingCartPage {
    direction: rtl!important;
}

.rLabelShoppingCartPage {
    padding-right: 14px!important;
}

.rLabelShoppingCartPage input {
    margin-right: -15px!important; 
}

.rButtomShopingCart {
    float: left;
}